* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
